<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUrESh6UqXAQyK3taioJUFmTYQtCsrtts</string>
	<key>GCM_SENDER_ID</key>
	<string>260438397932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmSamarth</string>
	<key>PROJECT_ID</key>
	<string>farmsamarth-90730</string>
	<key>STORAGE_BUCKET</key>
	<string>farmsamarth-90730.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260438397932:ios:d18308dde8c44cd313e6c9</string>
</dict>
</plist>